.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.my-arias {
  background-color: deepskyblue;
}
.my-gear {
  font-size: 20px; 
  color: white;
  margin-top: 5px;
}

/* Style for Axis */
.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 11px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}

/* Bar Chart */
/* body{
  width:1060px;
  margin:50px auto;
} */
path {  stroke: #fff; }
path:hover {  opacity:0.9; }
rect:hover {  fill:blue; }
.axis {  font: 10px sans-serif; }
.legend tr{    border-bottom:1px solid grey; }
.legend tr:first-child{    border-top:1px solid grey; }

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
  margin-bottom:76px;
  display:inline-block;
  border-collapse: collapse;
  border-spacing: 0px;
}
.legend td{
  padding:4px 5px;
  vertical-align:bottom;
}
.legendFreq, .legendPerc{
  align:right;
  width:50px;
}